{% extends "base.html" %} {% block title %}Entrega+{% endblock %}

{% block content %}
<main class="sobre-home"> <section class="descricao">
        <img src="https://img.freepik.com/fotos-gratis/close-up-maos-recebendo-caixa_23-2148767157.jpg" alt="Entrega de pacote">
        <div class="texto">
            <h1>Sobre a Entrega+</h1>
            <p>
                A Entrega+ é uma empresa de delivery moderna e eficiente, especializada em realizar entregas em todo o Brasil com agilidade, segurança e excelência. Nosso serviço é altamente versátil e abrange uma ampla variedade de categorias: entregamos desde alimentos, como refeições e produtos de supermercado, até itens maiores e mais complexos, como eletrodomésticos e eletrônicos.
            </p>
            <p>
                Com uma infraestrutura logística robusta, tecnologia de rastreamento em tempo real e uma equipe comprometida com a satisfação do cliente, a Entrega+ se destaca por oferecer soluções completas para quem precisa enviar ou receber qualquer tipo de produto, em qualquer lugar do país. Seja para consumidores finais ou empresas, nossa missão é tornar a entrega mais rápida, prática e confiável.
            </p>
        </div>
    </section>

    <section class="depoimentos">
        <div class="depoimento">
            <img src="https://marketplace.canva.com/ultEA/MAEzUIultEA/1/tl/canva-headshot-profile-picture-young-businessman-sit-in-kitchen-webcam-view-MAEzUIultEA.jpg" alt="Carlos A.">
            <div>
                <p class="estrelas">⭐⭐⭐⭐</p>
                <p><strong>Carlos A. – Belo Horizonte/MG</strong></p>
                <p>"Utilizei o Entrega+ para entrega entrega de um tablet. Só achei que o app poderia ser um pouco mais intuitivo, mas o serviço é excelente."</p>
            </div>
        </div>

        <div class="depoimento">
            <div>
                <p class="estrelas">⭐⭐⭐⭐⭐</p>
                <p><strong>Juliana M. – São Paulo/SP</strong></p>
                <p>"Fiquei impressionada com a rapidez da entrega! Pedi um notebook e chegou no dia seguinte, em perfeito estado. Recomendo muito!"</p>
            </div>
            <img src="https://img.freepik.com/fotos-gratis/aproximacao-de-uma-jovem-profissional-feminina-fazendo-contato-visual-contra-o-fundo-colorido_662251-651.jpg?semt=ais_hybrid&w=740" alt="Juliana M.">
        </div>
    </section>
</main>
{% endblock %}